@font-face {
  font-family: 'Lilita One';
  src: url('fuentes/LilitaOne-Regular.ttf') format('truetype');
}

body {
  font-family: 'Lilita One', sans-serif;
}

.car.active {
  cursor: move;
  background-color: rgba(255, 128, 0, 0.5);
}

.car {
  position: absolute;
  border: 1px solid black;
  background-color: rgba(255, 128, 0, 0.5);
  z-index: 2;
  user-select: none;
  font-family: 'Lilita One', sans-serif;
}

.car-menu {
  position: absolute;
  width: 120px;
  top: 100%;
  left: 50%;
  /* transform: translateX(-50%); */
  background-color: #f4a460;
  border: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1;
  color: #fff;
  font-family: 'Lilita One', sans-serif;
}

.car:hover .car-menu {
  display: block;
}

.car-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.car-menu li {
  padding: 10px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.car-menu li:hover {
  background-color: #fff;
  color: #f4a460;
}

.car:hover .car-name-hidden {
  display: none;
}

.car:hover .asignacion-tecnico {
  display: block;
}

.asignacion-tecnico {
  display: none;
  position: absolute;
  bottom: -50px;
  left: 0;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Lilita One', sans-serif;
}

#buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#buttons-container button {
  background-color: #fff;
  border: none;
  color: #f4a460;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 9px;
  transition: background-color 0.2s ease;
  font-family: 'Lilita One', sans-serif;
  border: 1px solid black;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
}

#buttons-container button:hover {
  background-color: #f4a460;
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
  color: #fff;
}
#addCarButton:hover {
  background-color: #f4a460;
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
  color: #fff;

}
#addCarButton{
  background-color: #ffa500;
  color: #fff;
  font-family: 'Lilita One', sans-serif;
  background-color: #fff;
  border: none;
  color: #f4a460;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 9px;
  transition: background-color 0.2s ease;
  font-family: 'Lilita One', sans-serif;
  border: 1px solid black;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
}

select#size-select {
  background-color: #fff;
  color: #f4a460;
  font-weight: bold;
  font-family: 'Lilita One', sans-serif;
}

select#size-select option {
  background-color: #fff;
  color: #f4a460;
  font-weight: bold;
  font-family: 'Lilita One', sans-serif;
}
select#size-select option:hover {
  background-color: black;
  color: white;
}

select#size-select option:checked {
  background-color: #f4a460;
  color: #fff;
  font-family: 'Lilita One', sans-serif;
}

.menu-item-naranja {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-item-blanco {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.menu-item-transparente {
  color: black;
  padding: 10px;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.car-menu-horizontal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.car-menu-horizontal li {
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}

#espacio {
  position:static;
  border: 5px solid #000;
  height: 80px; /* Ajusta la altura de las secciones según tus necesidades */
  width: 100%; /* Ajusta el ancho de las secciones según tus necesidades */
  background-color: transparent;
}

.boton {
  position: fixed;
  bottom: 20px;
  left: 20px;
  border: solid #000;
  z-index: 9999;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  justify-content: center;
  align-items: center;
  width: 50px; /* Ajusta el tamaño del círculo */
  height: 50px; /* Ajusta el tamaño del círculo */
}
.boton:hover {
  background-color: orange;
}

#buscar-equipo {
  position:fixed;
  bottom:80px;
  left: 20px;
  z-index: 9999;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  justify-content: center;
  align-items: center;
  width: 50px; /* Ajusta el tamaño del círculo */
  height: 50px; /* Ajusta el tamaño del círculo */
}

#buscar-equipo:hover {
  visibility: visible;
  background-color: orange;
}
#buscar-equipo span {
  visibility: hidden;
  margin-left: 5px;
}

#buscar-equipo:hover span {
  visibility: visible;
}
#sumatoria-costo {
  position:fixed;
  bottom:260px;
  left: 20px;
  z-index: 9999;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  justify-content: center;
  align-items: center;
  width: 50px; /* Ajusta el tamaño del círculo */
  height: 50px; /* Ajusta el tamaño del círculo */
}

#sumatoria-costo:hover {
  visibility: visible;
  background-color: orange;
}
#sumatoria-costo span {
  visibility: hidden;
  margin-left: 5px;
}

#sumatoria-costo:hover span {
  visibility: visible;
}
.selectFecha{
  position:fixed;
  bottom: 95px;
  left: 90px;
  z-index: 9999;
  visibility: hidden;
  background-color: #ffffff;
}

#authorize_button{
  position:fixed;
  bottom: 140px;
  left: 20px;
  z-index: 9999;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  justify-content: center;
  align-items: center;
  width: 100px; /* Ajusta el tamaño del círculo */
  height: 100px; /* Ajusta el tamaño del círculo */
}
#authorize_button:hover {
  background-color: orange;
}

#signout_button{
  position:fixed;
  bottom:200px;
  left: 20px;
  z-index: 9999;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  justify-content: center;
  align-items: center;
  width: 50px; /* Ajusta el tamaño del círculo */
  height: 50px; /* Ajusta el tamaño del círculo */
}
#signout_button:hover {
  background-color: orange;
}

#cars-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.section {
  position: absolute;
  background-color: transparent;
  border: 1px solid black;
}

#ICARO {
  top: 20px;
  left: 0;
  height: 29%;
  width: 28%;
  margin-bottom: 20px;
}

#LURIN {
  top: 80px;
  left: 44%;
  height: 17%;
  width: 55%;
  margin-bottom: 20px;
}

#CHINCHA {
  top: 31%;
  left: 0%;
  height: 39%;
  width: 98%;
}

#AREQUIPA {
  top: 72%;
  left: 42%;
  height: 28%;
  width: 52%;
  margin-bottom: 20px;
}

#ALQUILER {
  top: 70%;
  left: 0%;
  height: 30%;
  width: 40%;
  margin-bottom: 20px;
}

/* Modal Header */
.modal-header {
  padding: 10px 16px;
  background-color: white;
  color: #f4a460;
  text-align: center;
}

/* Modal Body */
.modal-body {
  padding: 5px 20px;
  /* border: 1px solid #000; */
}

/* Modal Footer */
.modal-footer {
  padding: 10px 16px;
  background-color: white;
  color: orange;
  text-align: center;
  text-decoration:dashed
}

/* Modal Content */
.modal-content {
  position:fixed;
  background-color: #fefefe; 
  width: 360px; 
  bottom: 0px;
  left: 40%;
  border: solid #000;
  z-index: 9999;
  background-color: #ffffff;
  margin: auto;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
.modal-footer button {
  background-color: #fff;
  border: none;
  color: #f4a460;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 9px;
  transition: background-color 0.2s ease;
  font-family: 'Lilita One', sans-serif;
  border: 1px solid black;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  position: relative;
}
.modal-footer button:hover {
  background-color: #f4a460;
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
  color: #fff;
}
/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.equipos-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}

.equipos-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.equipos-column {
  flex: 0 0 33.33%;
  padding: 0 10px;
}
